{% assign soft-skills = site.data.data.sidebar.soft-skills %}
{% if soft-skills %}
<div class="soft-skills-container container-block">

  <h2 class="container-block-title">
    {{ soft-skills.title }}
  </h2>

  <ul class="list-unstyled soft-skills-list">
    {% for soft-skill in soft-skills.info %}

      {% if soft-skill.link %}
      <li><a href="{{ soft-skill.link }}">{{ soft-skill.item }}</a></li>
      {% else %}
      <li>{{ soft-skill.item }}</li>
      {% endif %}

    {% endfor %}
  </ul>

</div><!--//soft-skills-->
{% endif %}
